*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 2.5px;
  background: #8c8787;
  transition: 0.35s background-color;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #535252;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

.halo-container::before {
  position: absolute;
  z-index: -1;
  background: radial-gradient(circle at center, #1e293b 0%, #0f172a 70%);
  content: '';
  inset: 0;
  pointer-events: none;
}
