/* 默认主题[light] */
:root {
  /* 背景色 */
  --color-bg: #ffffff;
  /* 文字色 */
  --color-text: #333333;
  /* 字体大小 */
  --font-size-base: 16px;
}

/* 暗色主题[dark] */
[data-theme="dark"] {
  /* 背景色 */
  --color-bg: #1a1a1a;
  /* 文字色 */
  --color-text: #e0e0e0;
  /* 字体大小 */
  --font-size-base: 16px;
}
